<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nickname,'用户昵称' %><br>
    <%= f.text_field :nickname, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :sex,'性别' %><br>
    <%= f.radio_button :sex, 1%>
    <%= label_tag :user_sex_1, "男" %>
    <%= f.radio_button :sex, 0%>
    <%= label_tag :user_sex_0, "女" %>
  </div>
  <div class="actions">
    <%= f.submit '提交', class: 'btn btn-default' %>
  </div>
<% end %>
