<h1>用户资料</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>昵称</th>
      <th>性别</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nickname %></td>
        <td><%= user.sex == 1 ? '男' : '女' %></td>
        <td>
          <% if can? :read, user %>
          <%= link_to '查看', user %>
          <% end %>
        </td>
        <td>
          <% if can? :update, user %>
          <%= link_to '编辑', edit_user_path(user) %>
          <% end %>
        </td>
        <td>
          <% if can? :destroy, user %>
          <%= link_to '删除', user, method: :delete, data: { confirm: '你确定吗？' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, User %>
<%= link_to '新建用户', new_user_path %>
<% end %>
