<p id="notice"><%= notice %></p>

<div class="panel panel-default">
    <div class="panel-heading">用户基本资料</div>
    <div class="panel-body">
        <p>
            <strong>昵称:</strong>
            <%= @user.nickname %>
        </p>

        <p>
            <strong>性别:</strong>
            <%= sex_format @user.sex %>
        </p>
        <%= link_to '编辑', edit_user_path(@user) %>
    </div>
</div>

<% if can? :manage, Role %>
<div class="panel panel-default">
    <div class="panel-heading">用户角色</div>
    <div class="panel-body">
        <% @roles.each do |role| %>
        <div class="col-md-2">
            <%= check_box_tag "role_#{role.id}", role.id, user_has_role(role), name: "role", role_id: role.id %>
            <%= label_tag "role_#{role.id}", role.name %>
        </div>
        <% end %>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">用户权限</div>
    <div class="panel-body">
        <% 
          if @permissions.any?
            old = @permissions.first.subject
        %>
        <div class="col-md-12"><strong><%= subject_name old %></strong></div>
        <% end %>
        <% @permissions.each do |permission| %>
        <% 
          if old != permission.subject
            old = permission.subject
        %>
        <div class="col-md-12" style="margin-top: 20px">
        <strong><%= subject_name permission.subject %></strong>
        </div>
        <% end %>
        <div class="col-md-2">
            <%= check_box_tag "permission_#{permission.id}", permission.id, user_has_permission(permission), name: 'permission', disabled: 'disabled'%>
            <%= label_tag "permission_#{permission.id}", permission.description  %>
        </div>
        <% end %>
    </div>
</div>
<input type="button" class="btn btn-default" value="提交更改" id="btnAssignRolesToUser" user_id='<%= @user.id %>'/>
<% end %>

<br />
<%= link_to '返回', users_path %>
