<h1>权限</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>操作</th>
      <th>资源</th>
      <th>描述</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.action %></td>
        <td><%= permission.subject %></td>
        <td><%= permission.description %></td>
        <td><%= link_to '查看', permission %></td>
        <td><%= link_to '编辑', edit_permission_path(permission) %></td>
        <td><%= link_to '删除', permission, method: :delete, data: { confirm: '你确定吗？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建权限', new_permission_path %>
