<p id="notice"><%= notice %></p>

<p>
  <strong>操作:</strong>
  <%= @permission.action %>
</p>

<p>
  <strong>资源:</strong>
  <%= @permission.subject %>
</p>

<p>
  <strong>描述:</strong>
  <%= @permission.description %>
</p>

<%= link_to '编辑', edit_permission_path(@permission) %> |
<%= link_to '返回', permissions_path %>
