<h1>用户角色</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>角色名</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= link_to '查看', role %></td>
        <td><%= link_to '编辑', edit_role_path(role) %></td>
        <td><%= link_to '删除', role, method: :delete, data: { confirm: '你确定吗？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建角色', new_role_path %>
