<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PermissionManager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">

      <ul class="nav navbar-nav">
        <% if can? :read, User %>
        <li class="<%= active_class('users') %>"><a href="/users">管理用户</a></li>
        <% end %>
        <% if can? :read, Task%>
        <li class="<%= active_class('tasks') %>">
          <a href="/tasks">管理任务</a>
        </li>
        <% end %>
        <% if can? :read, Role %>
        <li class="<%= active_class('roles') %>">
          <a href="/roles">管理角色</a>
        </li>
        <% end %>
        <% if can? :read, Permission %>
        <li class="<%= active_class('permissions') %>">
          <a href="/permissions">管理权限</a>
        </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= session[:account].user.nickname %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/users/<%= session[:account].user.id %>">个人资料</a></li>
            <li><a href="/login/logout">登出</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </nav>

  <div class="container">
    <div class="col-md-9 col-md-offset-1">
      <%= yield %>
    </div>
  </div>
</body>
</html>
